# Environment variables
.env
.env.local

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
data/*
logs/*


# Editor files
.vscode/
.idea/
.DS_Store
.venv/

# Testing
/coverage
*.lcov

# Logs
*.log